
<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <% if current_user %>
      <div class="log"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></div>
    <% end %>
    <% unless current_user.nil? %>
      <p class="navbar-text" id="signedIn">Signed in as <%= current_user.username %></p>
    <% else %>
      <div class="log"><%= link_to "Log In", new_user_session_path %></div>
    <% end %>
    <br>
    <div class="col-md-4"></div>
    <ul>
      <li class="col-md-1" id="rules"><h2 class="nav-title">Rules</h2></li>
      <li class="col-md-1" id="games"><h2 class="nav-title">Games</h2></li>
      <li class="col-md-1" id="about"><h2 class="nav-title">About</h2></li>
      <li class="col-md-1" id="about"><h2 class="nav-title"><%= link_to "Home", root_path %></h2></li>
    </ul>
    <div class="col-md-4"></div>
  </nav>
</div>

<div class="left_side_bar">
  <p>Reclaim the Streets!</p>
  <p>To create a game, place a marker on the map for the meeting point, click on the button below and fill out the form</p>
  <% unless current_user.nil? %>
    <ul>
      <li><%= button_tag "New Game", id: "newGameWindowBtn", class: "button" %></li>
      <li><%= button_tag "My Games", id: "myGamesWindowBtn", class: "button" %></li>
      <li></li>
    </ul>
  <% else %>
    <p>You need to be signed in to create or join a game!</p>
  <% end %>
  <p>To join a game, click on a flag to sign up to attend that game!</p>
  <%= button_tag "Hide Me", id: "sideBarBtn", class: "button" %>
</div>

<div id="createNewGame">
  <div class="gameSidebar">
    <h2>Add a new game!</h2>
    <%= form_for @game do |f| %>
      <h3>Name</h3>
      <%= f.text_field :name %><br>
      <%= f.hidden_field :lat %><br>
      <%= f.hidden_field :lng %>
      <h3>Add Game Picture</h3>
      <%= f.file_field :pictures, multiple: true %>
      <br><br>
      <h3>Time:</h3>
      <p>Starts at...</p>
      <%= f.datetime_select :start_time %><br>
      <p>Ends at...</p>
      <%= f.datetime_select :end_time %><br>
      <br>
      <h3>Description:</h3>
      <%= f.text_area :description %><br>
      <div id="createGameBtn">
        <%= f.submit "Create Game", class: "button" %>
      </div>
    <% end %>
  </div>
</div>

<% unless current_user.nil? %>
  <div id="myGames">
    <div class="gameSidebar">
      <h2>My Upcoming Games</h2>
      <% if current_user.games.empty? %>
        <p>You have no current games, click on one to join!</p>
      <% else %>
        <ul>
          <% @my_upcoming_games.each do |game| %>
            <li>
              <ul>
                <li><%= game.name %></li>
                <li><%= game.start_time %></li>
                <li><%= game.end_time %><</li>
                <li><%= game.pictures[0].thumb.url %></li>
                <li><%= game.description %></li>
                <li><%= button_tag "Locate", id: "locoBtn", class: "button" %></li>
              </ul>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>

<div id="map"></div>

<div class="allGames">
  <% @games.each do |game| %>
    <div class="game" id="game_<%= game.id %>">
    </div>
  <% end %>
</div>

<script>

var csrf = $("meta[name=csrf-token]").attr('content');

$(function () {
  <%# $("#createGameBtn").on("click", function (e) { %>
    <%# e.preventDefault(); %>
      <%# var form = $(this).parent().children(); %>
      <%# $.post('/games', function () { %>
          <%#   authenticity_token: form[1].value, %>
            <%#   game: { %>
                <%#     name: form[3].value, %>
                  <%#     lat: form[5].value, %>
                  <%#     lng: form[7].value, %>
                  <%#     description: form[18].value %>
                  <%#   } %>
                  <%# }).done( %>
                    <%#   function (response) { %>
                        <%#     console.log(response); %>
                          <%# }); %>
  <%# }); %>
  $("#new_game").on("ajax:success", function (game, data, status, xhr) {
    console.log(data, xhr.responseText);
    data.lng = data.lng;
    createGameMarker(data);
    actualWindow.css("display", "none");
    marker.setVisible(false);
  });
});

////////////////// WINDOW TOGGLE //////////////////////

var actualWindow = $("#createNewGame");
var newGameWindowBtn = $("#newGameWindowBtn");
var gameWindowBtnCount = 1;

var actualMyGamesWindow = $("#myGames");
var myGamesWindowBtn = $("#myGamesWindowBtn");
var myGamesWindowBtnCount = 1;

// TODO: This needs rewriting using toggle

console.log(myGamesWindowBtn)
  myGamesWindowBtn.on("click", function () {
    myGamesWindowBtnCount += 1;
    if (myGamesWindowBtnCount% 2 == 0) {
      actualMyGamesWindow.css("display", "block");
      gameWindowBtnCount += 1;
      actualWindow.css("display", "none");
    } else {
      actualMyGamesWindow.css("display", "none");
    };
  });

newGameWindowBtn.on("click", function () {
  gameWindowBtnCount += 1;
  if (gameWindowBtnCount % 2 == 0) {
    actualWindow.css("display", "block");
    myGamesWindowBtnCount += 1;
    actualMyGamesWindow.css("display", "none")
  } else {
    actualWindow.css("display", "none");
  };
});

var games = [<% @games.each do |game| %>
<%= "{id: #{game.id}, lat: #{game.lat}, lng: #{game.lng}, name: #{game.name.inspect}, picture: '#{game.pictures[0].thumb.url unless game.pictures[0].nil?}', time: '#{game.start_time.inspect}', description: #{game.description.inspect}},".html_safe %>
<% end %>];

var pastGames = [<% @past_games.each do |game| %>
<%= "{id: #{game.id}, lat: #{game.lat}, lng: #{game.lng}, name: #{game.name.inspect}, picture: '#{game.pictures[0].thumb.url unless game.pictures[0].nil?}', time: '#{game.start_time.inspect}', description: #{game.description.inspect}},".html_safe %>
<% end %>];

var upcomingGames = [<% @upcoming_games.each do |game| %> 
<%= "{id: #{game.id}, lat: #{game.lat}, lng: #{game.lng}, name: #{game.name.inspect}, picture: '#{game.pictures[0].thumb.url unless game.pictures[0].nil?}', time: '#{game.start_time.inspect}', description: #{game.description.inspect}},".html_safe %>
<% end %>];

var myPastGames = [<% @my_past_games.each do |game| %> 
<%= "{id: #{game.id}, lat: #{game.lat}, lng: #{game.lng}, name: #{game.name.inspect}, picture: '#{game.pictures[0].thumb.url unless game.pictures[0].nil?}', time: '#{game.start_time.inspect}', description: #{game.description.inspect}},".html_safe %>
<% end %>];

var myUpcomingGames = [<% @my_upcoming_games.each do |game| %> 
<%= "{id: #{game.id}, lat: #{game.lat}, lng: #{game.lng}, name: #{game.name.inspect}, picture: '#{game.pictures[0].thumb.url unless game.pictures[0].nil?}', time: '#{game.start_time.inspect}', description: #{game.description.inspect}},".html_safe %>
<% end %>];


var createGameMarker = function (game, i) {
  game.marker = new google.maps.Marker({
    map: map,
    icon: '/assets/flags/flag_'+ i +'.png',
    draggable: false,
    animation: google.maps.Animation.DROP,
    position: {
      lat: game.lat,
      lng: game.lng
    }
  });
  game.marker.addListener('mouseover', function () {
    $(".game").css("display", "none");
    lastSelectedIncident = document.getElementById("game_" + game.id);
    console.log(lastSelectedIncident);
    lastSelectedIncident.style.display = "block";
  });
  game.marker.addListener('mouseout', function () {
    if (lastSelectedIncident != null) {
      lastSelectedIncident.style.display = "none";
    }
  });
  var infoWindow = new google.maps.InfoWindow({
    content: "FRRRARARRARARRAR Hello World"
  });
  game.marker.addListener("click", function (e) {
    console.log(this);
    if (infoWindow) {
      infoWindow.close();
    }
    var infoWindow = new google.maps.InfoWindow({
      content : '<div class="infoWindowContent">' +
        '<h2>' + game.name + '</h2>' +
        '<img src=' + game.picture + '>' +
        '<div class="infoWindowDesc">' +
        'Time: ' + game.time + '<br>' +
        'Description: ' + game.description + 
        '</div><input type="submit" value="Join Game" class="joinGameBtn" id="game_' + game.id + '"></div>'
    });
    lastSelectedIncident = null;
    infoWindow.open(map, game.marker);
    var joinGame = $("#game_" + game.id);
    joinGame.on("click", function () {
      $.post('/games', {
        authenticity_token: csrf,
        session: {
          game_id: this.id.toString().substring(5, 999)
        }
      }).done(
        function (response) {
          console.log(response);
      });
    });
  });
  game.marker.addListener("mouseout", function () {
    infoWindow = null;
  });
};

var map;
function initMap() {
  var lastSelectedGame = null;
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 51.38806611676009, lng: -0.100250244140625},
    minZoom: 3,
    zoom: 8,
    styles: [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"color":"#ffffff"},{"weight":"0.20"},{"lightness":"28"},{"saturation":"23"},{"visibility":"off"}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"color":"#494949"},{"lightness":13},{"visibility":"off"}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#144b53"},{"lightness":14},{"weight":1.4}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#08304b"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#0c4152"},{"lightness":5}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#0b434f"},{"lightness":25}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#000000"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#0b3d51"},{"lightness":16}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"}]},{"featureType":"transit","elementType":"all","stylers":[{"color":"#146474"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#021019"}]}]

  });

  // Loose marker we place when a click happens
  marker = new google.maps.Marker({
    map: map,
    draggable: false,
    animation: google.maps.Animation.DROP
  });

  map.addListener('click', function (e) {
    // Go fill in the input type=hidden
    marker.setVisible(true);
    $("#game_lat").val(e.latLng.lat());
    $("#game_lng").val(e.latLng.lng());
    marker.setPosition(e.latLng);
  });
  var allGames = [pastGames, upcomingGames, myPastGames, myUpcomingGames];
  for (var i = 0; i < allGames.length; ++i) {
    allGames[i].forEach(function (game) {
      createGameMarker(game, i);
    })
  }
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgPKDNnR376aeoPLyafsvnJs_EcpDtPV8&callback=initMap" async defer>
</script>
